<section class="login container">
    <form action="" method="POST" class="login-form">
        <h3>Login Here</h3>
        <label for="email">Your Email: </label>
        <input type="email" name="email" id="" required>
        <label for="password">Password: </label>
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>
</section>