<!-- Hero section start-->
<section>
  <div class="container hero">
    <div class="left">
      <p>Are you hungry?</p>
      <h1>Don't Wait..</h1>
      <a href="#"><button type="button">Order Now</button></a>
    </div>
    <div class="right">
      <img src="img/pizza.png" alt="" />
    </div>
  </div>
</section>
<!-- Hero Section end -->
<!-- Start of the product section -->
<section>
  <div class="container product">
    <% pizzas.forEach(pizza=>{ %>
    <div class="card">
      <img src="img/piz1.jpg" alt="" />
      <h3><%= pizza.name%></h3>
      <p><%= pizza.size%></p>
      <div>
        <p>Price $<%= pizza.price%></p>
        <button class="btn" data-pizza="<%=JSON.stringify(pizza)%>">
          + Add
        </button>
      </div>
    </div>
    <% }); %>
  </div>
</section>
<!-- End of the product section -->
