
<!-- Hero section start-->
<section>
    <div class="container hero">
        <div class="left">
            <p>Are you hungry?</p>
            <h1>Don't Wait..</h1>
            <a href="#"><button type="button">Order Now</button></a>
        </div>
        <div class="right">
            <img src="img/pizza.png" alt="">
        </div>
    </div>
</section>
<!-- Hero Section end -->
<!-- Start of the product section -->
<section>
    <div class="container product">
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <h2>Margarita</h2>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
        <div class="card">
            <img src="img/piz1.jpg" alt="">
            <p>Margarita</p>
            <p>Small</p>
            <div>
                <p>Price $30</p>
                <button>+ Add</button>
            </div>
        </div>
    </div>
</section>
<!-- End of the product section -->
