<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="container">
      <div>
        <a href="/"><img src="img/logo.png" alt=""/></a>
      </div>
      <div>
        <ul>
          <li><a href="/">Menu</a></li>
          <li><a href="#">Offer</a></li>
          <%if(user){%>
          <li><a href="/logout">Logout</a></li>
          <%}else{%>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <%}%>
          <li>
            <a href="/cart">
              <%if(session.cart){%>
              <span id="totalQty"><%= session.cart.totalQty%></span>
              <%}else{%>
              <span id="totalQty">0</span>
              <%}%>
              <img src="img/cart.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar end -->
    <%- body %>
    <script src="js/app.js"></script>
  </body>
</html>
