<section class="cart container">
    <!-- <div class="container no-order">
        <p>Sorry you have not select any product</p>
        <h3>For slecting products <br> go to the home page</h3>
        <img src="img/empty-cart.png" alt="">
        <button type="button">Home</button>
    </div> -->
    <div class=" order-summary">
        <div class="description">
            <img src="img/cart-black.png" alt="">
            <h2>Order Summary</h2>
        </div>
        <div class="order-list">           
            <div class="product-descriptor">
                <img src="img/pizza.png" alt="">
                <div>
                    <p>Marinara</p>
                    <p>Small</p>
                </div>
            </div>
            <h4 class="total">1pcs</h4>
            <h4 class="price">$300</h4>
        </div>
        <div class="order-list">           
            <div class="product-descriptor">
                <img src="img/pizza.png" alt="">
                <div>
                    <p>Marinara</p>
                    <p>Small</p>
                </div>
            </div>
            <h4 class="total">1pcs</h4>
            <h4 class="price">$300</h4>
        </div>
        <div class="order-list">           
            <div class="product-descriptor">
                <img src="img/pizza.png" alt="">
                <div>
                    <p>Marinara</p>
                    <p>Small</p>
                </div>
            </div>
            <h4 class="total">1pcs</h4>
            <h4 class="price">$300</h4>
        </div>
        <h3 class="total-price">Total price: $300</h3>
        <form action="" class="form-controle">
            <p>Adress: <input type="text" name="adress" placeholder="Give your adress"></p>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>